<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Add a default marker</title>
    <meta
      name="viewport"
      content="initial-scale=1,maximum-scale=1,user-scalable=no"
    />
    <script src="https://vietmaps.vn/vietmap-gl-js/v1.0.0/vietmap-gl.js"></script>
    <script src="https://vietmaps.vn/vietmap-gl-js/plugins/vietmaps-gl-geocoder/v1.0.0/vietmap-gl-geocoder.min.js"></script>

    <link
      href="https://vietmaps.vn/vietmap-gl-js/v1.0.0/vietmap-gl.css"
      rel="stylesheet"
    />
    <link
      href="https://vietmaps.vn/vietmap-gl-js/plugins/vietmaps-gl-geocoder/v1.0.0/vietmap-gl-geocoder.css"
      rel="stylesheet"
    />
    <style>
      body {
        margin: 0;
        padding: 0;
      }
      #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>

    <script>
      mapboxgl.accessToken = "5eb25e854b36fb8edbfa8e206b050498a90082cc4660bb4c";
      var map = new mapboxgl.Map({
        container: "map",
        style: "vietmap://styles/default/style.json",
        hash: true,
        center: [105.85473, 21.0334],
        zoom: 14,
        maxBounds: [
          [102.0409, 7.730748],
          [111.6685, 23.47731],
        ],
        attributionControl: false,
      });

      map.addControl(
        new MapboxGeocoder({
          accessToken: mapboxgl.accessToken,
          mapboxgl: mapboxgl,
          placeholder: "Tìm kiếm",
          limit: 10,
          enableEventLogging: false,
        }),
        "top-left"
      );
    </script>
  </body>
</html>
