.card {
  position: relative;
  border: 0.1rem #857f7f solid;
  background-color: #e5f9e7;
  border-radius: 0.5rem;
  margin: 1rem;
  max-width: 400px;
  max-height: 500px;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.card:hover img {
  transform: scale(1.1);
}
/* Chatbox */
.chatbox {
  color: #000000;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 9999999999999999;
}
.chatbox ul {
  overflow: scroll;
  max-height: 30rem;
  max-width: 500px;
}
.chatbox li {
  margin-bottom: 1rem;
}
.chatbox input {
  width: 100%;
  height: 60px;
  font-size: 15px;
  font-weight: bold;
}
.chatbox button {
  width: 50px;
}
.full-container {
  margin: -1rem;
  height: calc(100% + 2rem);
}
.row.top {
  align-items: flex-start;
}
.support-users {
  background: #cfd1e2;
  padding: 1rem;
}
.support-users li {
  background-color: #f8f8f8;
}
.support-users button {
  background-color: transparent;
  border: none;
  text-align: left;
  width: 90%;
}
.support-users li {
  margin: 0;
  background-color: #f0f0f0;
  border-bottom: 0.1rem #c0c0c0 solid;
  list-style-type: none;
  padding: 1rem;
}

.support-users li:hover {
  background-color: #f0f0f0;
}

.support-users li.selected {
  background-color: #c0c0c0;
}
.support-messages {
  padding: 1rem;
}
.support-messages input {
  width: calc(100% - 9rem);
  font-weight: bold;
  font-size: 20px;
  height: 100px;
  border: 2px solid black;
  border-radius: 10px;
}
.support-messages ul {
  height: calc(110vh - 30rem);
  max-height: calc(110vh - 18rem);
  overflow: scroll;
  font-size: 20px;
  font-weight: bold;
  border-left: 1px solid black;
}
.support-messages li {
  margin-bottom: 1rem;
}

.support-users span {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  margin-right: -25px;
}
.support-users .offline {
  background-color: #808080;
}
.support-users .online {
  background-color: #20a020;
}
.support-users .unread {
  background-color: #f02020;
}

.hotline {
  background: url(https://2.bp.blogspot.com/-ZTC7I2s1EUE/Wd7i5WWR95I/AAAAAAAAAbs/NlubTccHwakuukjHkgNx51Y9iS910QsDACLcBGAs/s1600/hotline.png);
  background-size: cover;
  position: fixed;
  right: 0;
  z-index: 9999999;
  height: 100px;
  width: 300px;
  color: #fff;
  padding: 15px 0 0 30px;
  bottom: 0;
}

.hotline-no a {
  color: #fff;
}
.hotline .hotline-no {
  float: left;
  margin: 25px 0 0 15px;
}
.faa-wrench.animated {
  animation: wrench 2.5s ease infinite;
  animation-name: wrench;
  animation-duration: 2.5s;
  animation-timing-function: ease;
  animation-delay: initial;
  animation-iteration-count: infinite;
  animation-direction: initial;
  animation-fill-mode: initial;
  animation-play-state: initial;
}
.hotline p:first-child {
  font-family: utm_avobold, sans-serif;
  font-size: 14px;
}

.hotline p {
  font-size: 11px;
  font-family: utm_avoregular, sans-serif;
  text-transform: uppercase;
  margin: 0;
}
.hotline p {
  text-align: center;
}

.hotline img {
  float: left;
  margin: 25px 18px 0 15px;
}
img {
  border: 0;
  vertical-align: middle;
}
@-webkit-keyframes wrench {
  0% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }
  8% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }
  10%,
  28%,
  30%,
  48%,
  50%,
  68% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }
  18%,
  20%,
  38%,
  40%,
  58%,
  60% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }
  100%,
  75% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
@keyframes wrench {
  0% {
    -webkit-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }
  8% {
    -webkit-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg);
  }
  10%,
  28%,
  30%,
  48%,
  50%,
  68% {
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    transform: rotate(24deg);
  }
  18%,
  20%,
  38%,
  40%,
  58%,
  60% {
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }
  100%,
  75% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
}
.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
.title_sticky {
  margin-top: 20px;
  font-size: 20px;
  text-transform: uppercase;
  color: #3b5998;
  padding-left: 7px;
  border-left: 3px solid #3b5998;
  margin-bottom: 10px;
  font-weight: bold;
}
